.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: 2px solid #4a90e2;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 24px;
}

.search-button:hover {
  background-color: #1c75bc;
  box-shadow: 0 4px 10px rgba(28, 117, 188, 0.2);
}

.search-button-text {
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.search-container {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #9caab9;
  border-radius: 25px 0 0 25px;
  outline: none;
  width: 275px;
  transition: all 0.3s ease;
  margin-top: 24px;
  margin-bottom: 24px;
}
.search-container:focus {
  border-color: #a7d1f4;
  box-shadow: 0 0 8px rgba(18, 22, 25, 0.4);
}